//Others
$gap: 1.5em;
$title-fontSize: 1.8rem;
$borderRadius: 1em;
$input-fontSize: 2em;
// Form Wrap
$formWrap-height: 1150px;
$formWrap-width: 350px;
$formWrap-padding: 1.5em;
$formWrap-margin-tb: 3em; //tb = top,bottom
//Message Wrap
$textarea-height: 300px;
$textarea-padding: 1em;
$textarea-fontSize: 1em;
//Rule Wrap
$ruleWrap-fontSize: 1rem;
$ruleInput-width: 2em;
$ruleInput-marginRight: 2em;
//Query
$query-padding: 1em;
//Submit
$submit-padding: 1em;
$submit-fontSize: 1rem;