@use 'colors' as *;
@use 'numbers' as *;
label {
	margin-bottom: 0.5em;
	color: $grey_900;
}
.successful-wrap{
    display: none;
    position: absolute;
    top: 30px;
    background-color: $grey_900;
    padding: 1.5em;
    border-radius: 1em;
    color: $white;
    &__first-line{
        img{
            padding-right: 0.5em;
        }
        display: flex;
        align-items: center;
        padding-bottom: 0.8em;
        font-weight: 700;
    }
}
.line-input {
	padding: 0.8em;
	border-radius: 10px;
	border: 1px solid $grey_500;
    font-size: 1.1rem;
    cursor: pointer;
    transition: border-color .3s;
    &:hover{
        border-color: $grey_900;
    }
}
.error-label{
    margin-top: 0.5em;
    color: $red;
}
.name-error, .lastname-error, .email-error, .query-error, .message-error, .rule-error{
    display: none;
}
@mixin flex-collumn{
    display: flex;
    flex-direction: column;
}
@mixin border-style{
    border: 1px solid $grey_500;
    border-radius: $borderRadius;
}